<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengqitech.ems.mappers.DevicecommonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shengqitech.ems.models.domains.Devicecommon">
        <id column="ems_devicecommon_id" property="ems_devicecommon_id" />
        <result column="ems_devicecommon_deviceid" property="ems_devicecommon_deviceid" />
        <result column="ems_devicecommon_commonid" property="ems_devicecommon_commonid" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ems_devicecommon_id, ems_devicecommon_deviceid, ems_devicecommon_commonid
    </sql>

    <insert id="insert" parameterType="Devicecommon">
        INSERT INTO devicecommon (ems_devicecommon_deviceid, ems_devicecommon_commonid)
        VALUES (#{ems_devicecommon_deviceid}, #{ems_devicecommon_commonid});
    </insert>

    <delete id="deleteByCommonid" parameterType="int">
        DELETE FROM devicecommon WHERE ems_devicecommon_commonid = #{ems_common_id}
    </delete>
</mapper>