<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengqitech.ems.mappers.InstallconfigurationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shengqitech.ems.models.domains.Installconfiguration">
        <id column="ems_installconfiguration_id" property="ems_installconfiguration_id" />
        <result column="ems_installconfiguration_value" property="ems_installconfiguration_value" />
        <result column="ems_installconfiguration_deviceid" property="ems_installconfiguration_deviceid" />
        <result column="ems_installconfiguration_configurationid" property="ems_installconfiguration_configurationid" />
    </resultMap>

    <resultMap id="VoResultMap" extends="BaseResultMap" type="com.shengqitech.ems.models.vo.InstallconfigurationVo">
        <result column="ems_configuration_key" property="ems_configuration_key" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ${alias}.ems_installconfiguration_id, ${alias}.ems_installconfiguration_value, ${alias}.ems_installconfiguration_deviceid, ${alias}.ems_installconfiguration_configurationid
    </sql>

    <insert id="insert" parameterType="Installconfiguration" useGeneratedKeys="true" keyProperty="ems_installconfiguration_id">
        INSERT INTO installconfiguration
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ems_installconfiguration_value != null">ems_installconfiguration_value,</if>
            <if test="ems_installconfiguration_deviceid != null">ems_installconfiguration_deviceid,</if>
            <if test="ems_installconfiguration_configurationid != null">ems_installconfiguration_configurationid,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ems_installconfiguration_value != null">#{ems_installconfiguration_value},</if>
            <if test="ems_installconfiguration_deviceid != null">#{ems_installconfiguration_deviceid},</if>
            <if test="ems_installconfiguration_configurationid != null">#{ems_installconfiguration_configurationid},</if>
        </trim>
    </insert>
    <update id="update" parameterType="Installconfiguration">
        UPDATE installconfiguration
        <set>
            <if test="ems_installconfiguration_value != null">ems_installconfiguration_value=#{ems_installconfiguration_value},</if>
            <if test="ems_installconfiguration_deviceid != null">ems_installconfiguration_deviceid=#{ems_installconfiguration_deviceid},</if>
            <if test="ems_installconfiguration_configurationid != null">ems_installconfiguration_configurationid=#{ems_installconfiguration_configurationid},</if>
        </set>
        WHERE ems_installconfiguration_id = #{ems_installconfiguration_id}
    </update>
    <select id="findByDeviceId" resultMap="VoResultMap">
        SELECT
        <include refid="Base_Column_List">
            <property name="alias" value="i"/>
        </include>
        ,c.ems_configuration_key
        FROM installconfiguration i JOIN configuration c ON
        i.ems_installconfiguration_configurationid=c.ems_configuration_id
        WHERE ems_installconfiguration_deviceid=#{ems_device_id}
    </select>

    <delete id="deleteByDevice" parameterType="int">
        DELETE FROM installconfiguration WHERE ems_installconfiguration_deviceid=#{ems_device_id}
    </delete>
</mapper>